<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">Nickname</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">Introduction</th>
            <td class="table__col3"><%= @user.introduction %></td>
          </tr> 
        </tbody>
      </table>
      <% if current_user == @user %>
        <div class="account-edit"><%= link_to "プロフィール編集", '#' %></div>
      <% end %>
      </div>
  </div>
</div>