<div class='footer'>
  <div class='footer-contents'>
    <%= link_to 'Cafe Diaryとは？', about_path, class: "footer-link" %>
    <%= link_to '利用規約', use_of_terms_path, class: "footer-link" %>
  </div>
  <p>© Cafe Log</p>
</div>